@font-face {
    font-family: 'lato-bold';
    src:  url('../fonts/Lato-Bold.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'dobro-reg';
    src:  url('../fonts/Dobrozrachniy-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'lato-bold';
    color: #000000;
    font-size: 18px;
    line-height: 1.2;
}

img {
    width: 100%;
}

h2, .h2 {
    font-size: 36px;
    font-weight: bold;
    font-family: 'font-black'
}

h4, .h4 {
    font-size: 32px;
    font-weight: bold;
    font-family: 'font-black'
}

h5, .h5 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'font-black'
}

.cursor-pointer {
    cursor: pointer;
}

.color-white {
    color: #ffffff;
}

.color-braun {
    color: #e3b566;
}

.btn-primary {
    padding: 0 25px;
    font-family: 'dobro-reg';
    text-transform: uppercase;
    font-size: 36px;
    border-radius: 55px;
    border-bottom-right-radius: 0px;
    height: 55px;
    line-height: 44px;
}

.btn-primary:hover {

}

.btn-border {
    z-index: 0;
    overflow: hidden;
    letter-spacing: 1px;
    position: relative;
    background: transparent;
    border: 3px solid #e3b566;
}

.btn-border:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 0px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #e3b566;
    transition: all 600ms;
  }

.btn-border:hover {
    background: transparent;
    border: 3px solid #e3b566;
    color: #000000;
    transition: all 600ms;
}

.btn-border:hover:after {
    width: 400px;
    height: 350px;
    top: 50%;
    left: 50%;
  }

header{
    background: #020202;
    padding: 25px 0;
}

header .logo img {
    width: auto;
}

.header-phone a {
    font-size: 36px;
    margin: 30px 0;
    color: #ffffff;
    text-decoration: none;
}

.header-phone a:hover {
    color: #ffffff;
    text-decoration: none;
}

.header-phone a span {
    font-size: 30px;
}

.header-phone .btn-border {
    padding: 0 41px;
}