@font-face {
    font-family: 'lato-black';
    src:  url('../fonts/lato-black.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'lato-bold';
    src:  url('../fonts/Lato-Bold.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'lato-medium';
    src:  url('../fonts/Lato-Medium.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'dobro-reg';
    src:  url('../fonts/Dobrozrachniy-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AGAalenBold';
    src:  url('../fonts/ALARomanBold.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'lato-bold';
    color: #000000;
    font-size: 18px;
    line-height: 1.5;
}

img {
    width: 100%;
}

h2, .h2 {
    font-size: 70px;
    font-family: 'dobro-reg';
}

h3, .h3 {
    font-size: 46px;
    font-family: 'dobro-reg';
}

h4, .h4 {
    font-size: 36px;
    font-family: 'dobro-reg'
}

h5, .h5 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'font-black'
}

.cursor-pointer {
    cursor: pointer;
}

.color-white {
    color: #ffffff;
}

.color-braun {
    color: #e3b566;
}

.color-red {
    color: #a1293c;
}

.color-braun-black {
    color: #491308;
}

.btn-primary {
    border: 1px solid rgb(212,161,72);
    color: #000000;
    background: rgb(239,195,117);
    background: linear-gradient(180deg, rgba(239,195,117,1) 0%, rgba(212,161,72,1) 50%);
    padding: 0 25px;
    font-family: 'dobro-reg';
    text-transform: uppercase;
    font-size: 36px;
    border-radius: 55px;
    border-bottom-right-radius: 0px;
    height: 55px;
    line-height: 44px;
    transition: all 0ms;
}

.btn-primary:hover {
    border: 1px solid rgb(212,161,72);
    background: rgb(212,161,72);
    background: linear-gradient(180deg, rgba(212,161,72,1,1) 0%, rgba(239,195,117,1) 50%);
}

.btn-border {
    color: #ffffff;
    z-index: 0;
    overflow: hidden;
    letter-spacing: 1px;
    position: relative;
    background: transparent;
    border: 3px solid #e3b566;
    line-height: 41px;
}

.btn-border:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 0px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #e3b566;
    transition: all 600ms;
  }

.btn-border:hover {
    background: transparent;
    border: 3px solid #e3b566;
    color: #000000;
    transition: all 600ms;
}

.btn-border:hover:after {
    width: 400px;
    height: 350px;
    top: 50%;
    left: 50%;
}

.btn-red {
    border: 3px solid #961e31;
    background: #961e31;
    transition: all 600ms;
}

.btn-red:hover {
    border: 3px solid #ffffff;
    background: transparent;
}

/*************** Header Block **************/

header{
    background: #000000 url('../img/header_bg.png') bottom center no-repeat;
    padding: 25px 0 395px;
    background-size: contain;
    position: relative;
}

header::after {
    content: '';
    position: absolute;
    background: url(../img/main_top_bg.png) bottom center repeat-x;
    width: 100%;
    height: 128px;
    bottom: -5px;
}

header .logo img {
    width: auto;
}

.header-phone a {
    font-size: 36px;
    margin: 30px 0;
    color: #ffffff;
    text-decoration: none;
}

.header-phone a:hover {
    color: #ffffff;
    text-decoration: none;
}

.header-phone a span {
    font-size: 30px;
}

.header-phone .btn-border {
    padding: 0 41px;
}

header h1 span {
    display: inline-block;
}

header h1 .title {
    padding: 40px 25px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    font-family: 'AGAalenBold', arial;
}

header h1 .subtitle {
    font-family: 'lato-medium';
    font-size: 32px;
    padding: 40px 0 0 0;
}

header .text {
    font-size: 30px;
    margin: 30px 0 0 0;
}

.border-dot {
    content: '';
    height: 4px;
    width: 15%;
    border-top: 4px dotted #ffffff;
    display: inline-block;
    margin-top: 20px;
}

/*************** Person Block **************/

#person {
    background: #dcac56;
    padding: 60px 0;
}

#person p {
    font-size: 28px;
    margin-bottom: 0.5rem;
}

#person span {
    font-family: inherit;
    font-size: 16px;
}

.person_bg {
    top: 0;
    left: -230px;
}

.person_bg img {
    width: 70%;
}

/*************** Products Block **************/

#products {
    background: #dcac56 url('../img/products_bg.png') bottom center repeat-x;
    padding: 60px 0;
}

#products h2 {
    margin-bottom: 100px;
}

#products::before {
    content: '';
    position: absolute;
    top: -5px;
    width: 100%;
    height: 61px;
    background: url('../img/products_top_bg.png') top center repeat-x;
}

.product_item {
    background: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    padding: 75px 20px 20px 20px;
    box-shadow: 0px 4px 10px 6px rgba(0, 0, 0, 0.19);
}

.product_item img {
    width: 80%;
}

.product_item .text {
    border-top: 1px solid #e3b566;
    padding: 10px 0 0 0;
    margin-top: 10px;
    font-size: 22px;
    font-family: 'lato-black';
}

.product_item .title {
    top: -60px;
    left: 50%;
    margin-left: -40%;
}

/*************** Plus Block **************/

#plus {
    background: url('../img/plus_bg.png') top center repeat-x;
    padding: 60px 0 105px;
    position: relative;
}

#plus::after{
    content: '';
    position: absolute;
    height: 93px;
    width: 100%;
    background: url('../img/plus_bottom_bg.png') bottom center repeat-x;
    bottom: -5px;
}

#plus h2 {
    margin: 0 0 60px 0;
}

#plus .img {
    background: #dcac56;
    padding: 20px;
    border-radius: 20px;
    height: 160px;
    width: 160px;
    line-height: 100px;
}

#plus .img.bottom-right {
    border-bottom-right-radius: 0px;
}

#plus .img.bottom-left {
    border-bottom-left-radius: 0px;
}

#plus .img.top-right {
    border-top-right-radius: 0px;
}

#plus .img.top-left {
    border-top-left-radius: 0px;
}

/*************** Reviews Block **************/

#reviews {
    background: #ffffff;
    padding: 60px 0;
}

.carusel {
    width: 75%;
    margin: 0 auto;
}

#reviews .proff {
    font-size: 22px;
}

.owl-dots {
    text-align: center;
    padding: 20px 0 0 0;
    display: none;
}

.owl-nav {
    display: block;
}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 27%;
    left: -135px;
}

.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 27%;
    right: -135px;
}

.owl-carousel button.owl-dot {
    height: 25px;
    width: 25px;
    border: 3px solid #dcac56;
    border-radius: 50%;
    margin-right: 12px;
}

.owl-carousel button.owl-dot:last-child {
    margin-right: 0px;
}

.owl-carousel button.owl-dot.active {
    background: #dcac56;
}

.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {
    opacity: 0.7;
}

.owl-carousel .item iframe {
    width: 100%;
    height: 517px;
}

@media (max-width: 991px){
    #plus .img {
        height: 100px;
        width: 100px;
        line-height: 60px;
    }
}

@media (max-width: 767px){

    header {
        padding: 25px 0 185px;
    }

    header h1 .title {
        padding: 40px 0;
    }

    header::after {
        bottom: -58px;
    }

    #products {
        background-size: cover;
    }

    .product_item {
        margin-bottom: 40px;
    }

    #products .col-md-4:last-child .product_item {
        margin-bottom: 0;
    }

    #plus {
        background-size: cover;
    }

    #plus .img {
        height: 130px;
        width: 130px;
        line-height: 60px;
        margin: 0 auto 20px;
    }

    #plus .img.bottom-right, #plus .img.bottom-left, #plus .img.top-right, #plus .img.top-left {
        border-radius: 20px;
        border-bottom-right-radius: 0px;
    }

    .owl-dots {
        display: block;
    }

    .owl-nav {
        display: none;
    }

    .owl-carousel .item iframe {
        height: 195px;
    }

}
